# Node modules
node_modules

# Adonis directory for storing tmp files
tmp/*
!tmp/avatar.jpeg
!tmp/helloworld.pdf

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

# tmp file
.DS_Store

*-error.log
