<p>Bem-vindo {{ user.name }}!</p>

<p>Você pode confirmar o e-mail da sua conta através do link abaixo:</p>

<p><a href="{{ link }}">Confirmar minha conta</a></p>

<p>Sua senha de acesso: <strong>{{ password }}</strong></p>
