<p>Bem-vindo {{ user.name }}!</p>

<p>Confirmamos que a sua conta está criada, você pode acessa-la através do link abaixo:</p>

<p><a href="{{ link }}">Acessar minha conta</a></p>

<p>Não esqueça da sua senha: <strong>{{ password }}</strong></p>

<p>Lembrando, você deve alterar a senha logo que entrar no sistema.</p>

<p>
  <strong>Equipe {{ team }}</strong>
</p>
